@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MAUI App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Top 4 information -->
    <div class="top-container">
        <div class="row-4">
            <img src="/assests/user.png" alt="user"/>
            <div class="data">
                <p>Total Balance</p>
                <h3>Rs 25000</h3>
            </div>
        </div>
        <div class="row-4">
            <img src="/assests/bill.png" alt="bill" />
            <div class="data">
            <p>Total Expenses</p>
            <h3>Rs 5000</h3>
            </div>
        </div> 
        <div class="row-4">
            <img src="/assests/saving.png" alt="saving" />
            <div class="data">
            <p>Saving Goal</p>
            <h3>Rs 44000</h3>
            <h4>Rs 15000</h4>
            </div>
        </div>
        <div class="row-4">
            <img src="/assests/money.png" alt="money" />
                <div class="data">
            <p>Total Dept</p>
            <h3>Rs 2000</h3>
            </div>
        </div>
    </div>

    <!-- Three List -->
    <div class="container">
        <div class="transaction-list">
        <h3>Recent Transactions</h3>
        <ol class="list-group">
            <li>NIC ASIA</li>
            <li>New Fashion Clothing</li>
            <li>Delicious Food Restaurant</li>
        </ol>
        </div>
        <!-- Two List -->
        <div class="inside-container">        
        <div class="dept-list">
         <h3>Depts Breakdown</h3>
        </div>
        <div class="expenses-list">
            <h3>Expenses Breakdown</h3>
        </div>
        </div>
    </div>

</body>
</html>
