@page "/transaction"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MAUI App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="user-section">

        <div class="search-bar">
            <form action="/search" method="get">
                <input type="search" name="query" placeholder="Search here..." required>
                <button type="submit">Search</button>
            </form>
        </div>

        <!-- Top Button containers -->
        <div class="button-container">
            <button id="buttonAdd">Add</button>
            <button id="buttonSort">Sort</button>
            <button id="buttonAsc">Ascending</button>
            <button id="buttonDes">Decending</button>
        </div>

    </div>

    <!-- List container -->
    <div class="unique-container">
        <div class="unqiue-list">
            <h3>Recent Transactions</h3>
        </div>
    </div>

</body>
</html>


@code {

}
