@page "/transaction"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My MAUI App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Top 4 information -->
    <div class="top-container">
        <div class="row-4">
            <p>Total Balance</p>
            <h3>Rs 25000</h3>
        </div>
        <div class="row-4">
            <p>Total Expenses</p>
            <h3>Rs 25000</h3>
        </div>
        <div class="row-4">
            <p>Saving Goal</p>
            <h3>Rs 25000</h3>
        </div>
        <div class="row-4">
            <p>Total Dept</p>
            <h3>Rs 25000</h3>
        </div>
    </div>

    <!-- Three List -->
    <div class="container">
        <div class="transaction-list">
            <h3>Recent Transactions</h3>
        </div>
    </div>
</body>
</html>


@code {

}
